<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.shopalert" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Shop Alert</name>
    <description>App to immediately send shop list</description>
    <author>
		Radosław Celary i Mateusz Galant
	</author>
	<icon src="res/icon.png" />
    <platform name="android" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-contacts" spec="~2.3.1" />
    <access origin="*" />
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-sim" spec="~1.3.3" />
</widget>
